* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}

.slide {
  width: 20%;
  transition: 2s;
  object-fit: contain;

  & > img {
    width: 800px;
    height: 600px;
  }
  &r {
    width: 800px;
    height: 600px;
    border-radius: 18px;
    overflow: hidden;
  }

  &s {
    width: 500%;
    height: 600px;
    display: flex;

    & > input {
      display: none;
    }
  }
}

// manual navigation
.nav-manual {
  position: absolute;
  width: 800px;
  margin: 0 auto;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid blueviolet;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;

  &:not(:last-child) {
    margin-right: 40px;
  }

  &:hover {
    background-color: blueviolet;
  }
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

// automatic navigation
.nav-auto {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 800px;
  margin-top: 560px;

  & > div {
    border: 2px solid blueviolet;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      background-color: blueviolet;
    }
  }
}

#radio1:checked ~ .nav-auto > .auto-btn1 {
  background-color: blueviolet;
}
#radio2:checked ~ .nav-auto > .auto-btn2 {
  background-color: blueviolet;
}
#radio3:checked ~ .nav-auto > .auto-btn3 {
  background-color: blueviolet;
}
#radio4:checked ~ .nav-auto > .auto-btn4 {
  background-color: blueviolet;
}
